version: "3.8"
services:
  rabbitmq_management:
    image: rabbitmq:3.13.6-management
    container_name: rabbitmq_management
    # restart: always
    ports:
      - 15672:15672
      - 5672:5672
    environment:
      POSTGRES_USER: rmartel
      POSTGRES_PASSWORD: Tobirama19++
    volumes:
      - local_rabbitmq:/var/lib/rabbitmq

volumes:
  local_rabbitmq:
   
networks:
  shared_network:
    external: true